.idea
.vscode
./.idea
./.vscode
./**/node_modules
./node_modules
./videozone-server/node_module/**
./videozone-client/node_module/**
./videozone-server/node_modules/**/*
./videozone-client/node_modules/**/*
./**/env
./**/node_modules/**
./videozone-server/node_module
./videozone-client/node_module


videozone-server\node_modules
videozone-server/node_modules

videozone-client\node_modules
videozone-client/node_modules