/* No design available for desktop, tablet, due to this
* container width will set to 767px, then apply background color dark
*/ 

body{
  background: #000;
}
.mobile-container{
  max-width: 767px;
  padding-left: 15px;
  padding-right: 15px;  
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  height: calc(100vh - 30px);
  border: 1px solid #fff;
  border-radius: 6px;;
}

.inifinit{
  &__scroll{
    &__wrapper{
      position: relative;
    }
    &__inner{
      position: relative;
    }
  }
}

.search__reset{
  top: 10px;
  right: 15px;
  button{
    svg{
      width: 24px;
      height: 24px;
    }
  }
}

.header{
  &__wrapper{
    background-color: transparent;
    background-image: url("../images/nav_bar.png");
    background-size: contain;
    background-position: bottom center;
    padding-bottom: 10px;
    margin-bottom: -20px;
    background-repeat: repeat-x;
    z-index: 2;
    position: relative;
  }
}


@keyframes rotate{
  0%{

  }
  
}

.svg-loader-icon{
  width: 36px;
  height: 36px;
}

.fill-white{
  fill: white;
}
.page__content{
  position: relative;
}

.loading-container{
  bottom: 40px;
  text-align: center;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0.5), rgba(0,0,0,0.8));
  span{
    display: inline-block;
    svg{
      
    }
  }
}